{% extends "./base.html" %}

{% block content %}
<div class="translation">
  <h1>{{ greek }}</h1>

  {% if tsakonian_list %}
      {% for entry in tsakonian_list %}
          <p>{{ entry }}</p>
      {% endfor %}
  {% else %}
      <p>Δεν βρέθηκε η λέξη στην βάση. Ίσως θέλατε να ψάξετε ένα από τα επόμενα όρια:</p>
      
      <ul>
      {% for suggestion in close_suggestions %}
        <li>· <a href="{% url 'dictionary:tsakonian' suggestion %}">{{ suggestion }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

</div>
{% endblock %}
