{% extends "./base.html" %}
 
{% block content %}
<center><a href="{% url 'dictionary:writing_extension' %}">Εγκαταστήστε εδώ την επέκταση πληκτρολογίου για την Τσακωνική διάλεκτο</a></center>

<p>Αυτό το λεξικό αποτελεί μέρος των προσπαθειών συντήρησης της Τσακώνικης διαλέκτου. </p>

<p>Το λεξικό αυτό είναι ανοιχτό σε όλους και όλες και οποιοσδήποτε μπορεί να συνεισφέρει στην εμπλουτισμό του.</p>

</p>Αν θέλετε να συνεισφέρετε, παρακαλούμε επικοινωνήστε μαζί μας στο <a href="mailto:jgchaparro@outlook.com ">jgchaparro@outlook.com </a></p>
{% endblock %}